# Immich API Configuration
IMMICH_BASE_URL=http://fedora:2283
IMMICH_API_KEY=INkWgA2R9KyjHVt5o7s5JkGpGewo6NB7D1OY0MybAA

# Tag to apply when fixing date mismatches (leave empty to skip tagging)
IMMICH_FIXED_TAG=date-fixed

# If you use self-signed TLS, set to 0 to skip verification. Otherwise leave 1.
IMMICH_VERIFY_SSL=0
# Default search parameters (leave empty to use form defaults)
DEFAULT_TAG_NAME=toupdate

IMMICH_DEFAULT_TOLERANCE_SECONDS=120
IMMICH_DEFAULT_PAGE_SIZE=200

# Flask Configuration
FLASK_SECRET_KEY=change-me-to-something-secure
PORT=5000

# Optional: Date range defaults (ISO format)
TAKEN_AFTER=2024-01-01T00:00:00.000Z
TAKEN_BEFORE=2024-03-31T23:59:59.999Z
DEBUG=1
# Optional: override regex patterns
FILENAME_PATTERNS_JSON=[["\\d+-IMG-(\\d{8})-WA\\d+","%Y%m%d"],["IMG-(\\d{8})-WA\\d+","%Y%m%d"],["IMG_(\\d{8})_(\\d{6})","%Y%m%d%H%M%S"],["VID-(\\d{8})-WA\\d+","%Y%m%d"],["(20\\d{2})(\\d{2})(\\d{2})[_-]","%Y%m%d"]]
